<form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)" class="example-container">
  <mat-form-field appearance="fill">
    <mat-label>Enter your Name</mat-label>
    <input matInput id="name" type="text" placeholder="Enter your name"
           formControlName="name" (blur)="onValueChanged()" required>
    <mat-error *ngIf="name.invalid && (name.touched || name.dirty)">{{formErrors.name}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input matInput id="email" type="email" placeholder="pat@example.com"
           formControlName="email" (blur)="onValueChanged()" required>
    <mat-error *ngIf="email.invalid && (email.touched || email.dirty)">{{formErrors.email}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'"
           formControlName="password" (blur)="onValueChanged()">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="password.invalid">{{formErrors.password}}</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="userForm.invalid">Registration</button>
</form>
