<header class="header">
  <mat-toolbar class="header-container">
    <mat-toolbar-row>
      <span>Image Finder</span>
      <span class="example-spacer"></span>
      <a class="material-icons">account_circle</a>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<mat-drawer-container class="example-container">

  <mat-drawer class="sidebar" mode="side" opened>
    <mat-list>
      <mat-list-item>
        <a routerLink="/images" class="material-icons" routerLinkActive="active">wb_cloudy</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/bookmarks" class="material-icons" routerLinkActive="active">bookmark</a>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content class="main-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>

<footer class="footer">
  <span>Copyrights</span>
</footer>
