.header {

  &-container {
    padding: 20px;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  min-height: 100%;
}

.material-icons {
  text-decoration: none;
  color: indigo;
  font-size: 40px;
}

.main-content {
  padding: 20px;
}

.active {
  color: #870808 !important;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
}
