<div class="search-photos">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Search images</mat-label>
    <input type="search" matInput
           placeholder="Search images"
           [formControl]="searchControl">
  </mat-form-field>

  <mat-paginator class="mat-paginator" [length]="length | async"
                 [pageSize]="pageSize | async"
                 [pageSizeOptions]="[6, 12, 24, 99]"
                 aria-label="Select page"
                 (page)="onPageChanged($event)"
  >
  </mat-paginator>

  <div class="photos">
    <div class="photo" *ngFor="let photo of photos$ | async">

      <mat-card class="example-card">
        <img mat-card-image class="photo__image" [src]="photo.url" [alt]="photo.title"
             [title]="photo.title">
        <mat-card-content>
          <mat-card-title>
            <h5 class="photo__title" [title]="photo.title">{{photo.title}}</h5>
          </mat-card-title>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="savePhoto(photo)" color="primary">Bookmark it!</button>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>
</div>
